data/
*_debug_images/*[A[B[A[D[D[D[D[D[D[D[D[D[D[D[D[D[C[C*[B[C[C[C[C[C[C[C[C[C[C[C[D
*_saved_models/*
evals/
Pytorch-GAN/*[A[D[D[D[D[D[D[D[D[C*[C[C[C[C[C[B[C
